.outer {
    overflow: hidden;
  }
  .inner {
    border: 1px solid #888;
  }
  .inner i {
    width: 40px;
    height: 40px;
    border: 1px solid #888;
    border-radius: 50%;
    background-color: #fff;
  }
  .inner .top {
    margin-top: -20px;
  }
  .inner .bottom {
    margin-top: -20px;
    margin-bottom: -22px;
  }
  .inner .left {
    float: left;
    margin-left: -20px;
  }
  .inner .right {
    float: right;
    margin-right: -20px;
  }
  .content {
    min-height: 80px;
  }
  .btmDashed{
    border-bottom-style: dotted;
  }
  .topDashed{
    border-top-style: dotted;
  }